configuration{
    show-icons:                  false;
    display-calc:                " ";
}

@import                          "../list-theme.rasi"

window {
    width:                        20%;
}

mainbox {
    children:                    [ "inputbar", "message", "listview" ];
}

entry {
    placeholder:                 "Enter expression...";
}

listview {
    lines:                      6;
}